version: 2.0.0.{build}
branches:
  only:
  - master
skip_tags: true

init:
  - git config --global core.autocrlf true

environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      FRAMEWORKS_TO_BUILD: REST_OF_FRAMEWORKS
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      FRAMEWORKS_TO_BUILD: NANOFRAMEWORK

before_build:
- ps: >-

    If($env:FRAMEWORKS_TO_BUILD -eq "REST_OF_FRAMEWORKS")
    {
      Write-Output "Installing .NET MicroFramework 4.3 ..."

      $msiPath = "$($env:USERPROFILE)\MicroFrameworkSDK43.MSI"

      (New-Object Net.WebClient).DownloadFile('https://github.com/Azure/amqpnetlite/releases/download/netmf4.3/MicroFrameworkSDK4.3.MSI', $msiPath)

      & msiexec.exe /i $msiPath /quiet /log $env:USERPROFILE\netmf43.log | Write-Output

      Write-Output "NETMF43 Installed"


      Write-Output "Installing .NET MicroFramework 4.4 ..."

      $msiPath = "$($env:USERPROFILE)\MicroFrameworkSDK44.MSI"

      (New-Object Net.WebClient).DownloadFile('https://github.com/NETMF/netmf-interpreter/releases/download/v4.4-RTW-20-Oct-2015/MicroFrameworkSDK.MSI', $msiPath)

      & msiexec.exe /i $msiPath /quiet /log $env:USERPROFILE\netmf44.log | Write-Output

      Write-Output "NETMF44 Installed"


      Write-Output "Copying NuGet.exe ..."

      New-Item c:\projects\amqpnetlite\build\tools -type directory

      copy c:\tools\NuGet\NuGet.exe c:\projects\amqpnetlite\build\tools\NuGet.exe


      Write-Output "Expanding PATH ..."

      $env:Path = "$($env:PATH);$($env:ProgramFiles)\dotnet;$($env:VS140COMNTOOLS)..\IDE"

      [Environment]::SetEnvironmentVariable("PATH", $env:Path, "User")


      Write-Output "Restoring dotnet projects ..."

      pushd dotnet

      dotnet restore

      popd

    }
    Else
    {
      'Installing nanoFramework VS extension ...' | Write-Host -ForegroundColor White -NoNewline

      [System.Net.WebClient]$webClient = New-Object System.Net.WebClient
      $webClient.UseDefaultCredentials = $true

      # get extension information from MyGet VSIX feed
      $vsixFeedXml = Join-Path  $($env:USERPROFILE) "vs-extension-feed.xml"
      $webClient.DownloadFile("http://vsixgallery.com/feed/author/nanoframework", $vsixFeedXml)
      [xml]$feedDetails = Get-Content $vsixFeedXml

      # assuming this is building on VS2019 only
      $extensionUrl = $feedDetails.feed.entry[1].content.src
      $vsixPath = Join-Path  $($env:USERPROFILE) "nanoFramework.Tools.VS2019.Extension.zip"

      # download VS extension
      Write-Debug "Download VSIX file from $extensionUrl to $vsixPath"
      $webClient.DownloadFile($extensionUrl,$vsixPath)

      $outputPath = "$($env:USERPROFILE)\nf-extension"

      # unzip extension
      Write-Debug "Unzip extension content"
      Expand-Archive $vsixPath -DestinationPath $outputPath

      # copy build files to msbuild location
      Write-Debug "Copy build files to msbuild location"
      $msbuildPath = "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild"
      Copy-Item -Path "$($env:USERPROFILE)\nf-extension\`$MSBuild\nanoFramework" -Destination $msbuildPath -Recurse

      'OK' | Write-Host -ForegroundColor Green


      Write-Output "Copying NuGet.exe ..."

      New-Item c:\projects\amqpnetlite\build\tools -type directory

      copy c:\tools\NuGet\NuGet.exe c:\projects\amqpnetlite\build\tools\NuGet.exe


      Write-Output "Restoring projects ..."

      nuget restore amqp-nanoFramework.sln

    }

build_script:
- ps: >-

    If($env:FRAMEWORKS_TO_BUILD -eq "REST_OF_FRAMEWORKS")
    {
      Write-Output "Invoking build.cmd script ..."

      & c:\projects\amqpnetlite\build.cmd --solution "amqp-vs2015.sln amqp-dotnet.sln amqp-netmf.sln" | Write-Output

      & c:\projects\amqpnetlite\build.cmd release --solution "amqp-vs2015.sln amqp-dotnet.sln amqp-netmf.sln" | Write-Output

    }
    Else
    {
      Write-Output "Invoking build.cmd script ..."

      & c:\projects\amqpnetlite\build.cmd --solution amqp-nanoFramework.sln | Write-Output

      & c:\projects\amqpnetlite\build.cmd release --solution amqp-nanoFramework.sln | Write-Output

    }

test: off
deploy: off
on_failure:
- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
